@import '../assets/styles/_animations';

.aligner_before_search {
  display: flex;
  align-items: center;
  min-height: 90vh;
  justify-content: center;
  transition: 0.8s ease-in-out;
  -webkit-animation: 1s ng-class-animation;
  -moz-animation: 1s ng-class-animation;
  -ms-animation: 1s ng-class-animation;
  -o-animation: 1s ng-class-animation;
  animation: 1s ng-class-animation;
}

.aligner_after_search {
  display: flex;
  align-items: center;
  min-height: 25vh;
  justify-content: center;
  transition: 0.8s ease-in-out;
  margin-top: 25px;
}

.aligner_after_search-add {
  -webkit-animation: 1s ng-class-animation;
  -moz-animation: 1s ng-class-animation;
  -ms-animation: 1s ng-class-animation;
  -o-animation: 1s ng-class-animation;
  animation: 1s ng-class-animation;
}

.aligner_after_search-remove {
  -webkit-animation: 1s ng-class-animation reverse;
  -moz-animation: 1s ng-class-animation reverse;
  -ms-animation: 1s ng-class-animation reverse;
  -o-animation: 1s ng-class-animation reverse;
  animation: 1s ng-class-animation reverse;
}

.aligner-item {
  max-width: 50%;
}

.card-container {
    margin: 0 auto;
}

.uppercase {
	text-transform: uppercase;
}