<h1>STAR WARS TRAVEL GUIDE</h1>
<h3>Enter the distance to your destination in MGLT and get valuable information about how many stops you will have to do to get provisions in every starship there is!</h3>
<div>
    <input type="number" placeholder="Travel Distance" />
    <button type="button">Calculate!</button>
</div>
<section>
  <article>
    <div>
      <h2>
        Name: Millenium Falcon
      </h2>
      <p>
        Model: ShipModel
      </p>
      
      <p>
        stops: 999 
      </p>
    </div>
  </article>
</section>