//Global Styles

//Fonts importing
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

//Basic Elements
body {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    background-color: #313131;
}

// Toast helpers
.toast-top-center {
    top: 20px !important;
}

.toast-container .ngx-toastr {
    box-shadow: none !important;
}