// Animations
@-webkit-keyframes ng-class-animation {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @-moz-keyframes ng-class-animation {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @-ms-keyframes ng-class-animation {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @-o-keyframes ng-class-animation {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes ng-class-animation {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }